// home.ejs
<h1>This is home page</h1>

<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="/css/home.css">
  <title>BusMall</title>
</head>
<body>
  <header><h1>BusMall</h1></header>
  <main>
    <section id="image-container">
      <img id ="img-one" src="" alt="">
      <img id ="img-two" src="" alt="">
      <img id ="img-three"src="" alt="">
    </section>

<button class="button1" id="see-results-btn"><span>View Results </span></button>
      
      <ul id="results-list"></ul>
  </main>
  <canvas id="my-chart"></canvas>
  <footer>&copy; 2022 Falashade Greene</footer>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
  <script src="/css/js/home.js">
  </script>
</body>
</html> -->

