// login.ejs
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/login.css">
  <title>Login Page</title>
</head>

<body>
<h1>login</h1>

<form action="/login" method="POST">
	<input type="text" name="username"
		placeholder="username">
	<input type="password" name="password"
		placeholder="password">
	<button>login</button>
</form>

<h1>This is home page</h1>

<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
<footer></footer>
</body>
</html>








<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/login.css">
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
  <title>Login Page</title>
</head>

<body>
  <header>
    <h1>BusMall</h1>
  </header>
  <main>
    
    <section class="container forms">
      <div class="form login">
        <div class="form-content">
          <h2>Login</2>
            <form action="#">
              <div class="field input-field">
                <input type="email" placeholder="Email" class="input">
              </div>
              <div class="field input-field">
                <input type="password" placeholder="Password" class="password">
                <i class='bx bx-hide eye-icon'></i>
              </div>
              <div class="form-link">
                <a href="#" class="forgot-pass">Forgot password?</a>
              </div>
              <div class="field button-field">
                <button>Login</button>
              </div>
            </form>
            <div class="form-link">
              <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
            </div>
        </div>
        <div class="line"></div>
        <div class="media-options">
          <a href="#" class="field facebook">
            <i class='bx bxl-facebook facebook-icon'></i>
            <span>Login with Facebook</span>
          </a>
        </div>
        <div class="media-options">
          <a href="#" class="field google">
            <img src="img/google.png" alt="" class="google-img">
            <span>Login with Google</span>
          </a>
        </div>
      </div>
    </section>
  </main>
  <footer>

	</footer>
</body>

</html> -->
